* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup{
  background: url(./);
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
};